




@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="header"></div>

            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row data-container">
        <div class="col-3">
            <div class="card mt-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Type</h5>
                    <div>
                        <input type="checkbox"> <label>Kid's wear</label>
                    </div>
                    <div>
                        <input type="checkbox"> <label>Men's Wear</label>
                    </div>
                    <div>
                        <input type="checkbox"> <label>Women's Wear</label>
                    </div>
                    <div>
                        <input type="checkbox"> <label>Kitchen Tools</label>
                    </div>
                </div>
            </div>

            <div class="card mt-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Price</h5>
                    <div>
                        <input type="radio" name="price"> <label>500rs</label>
                    </div>
                    <div>
                        <input type="radio" name="price"> <label>1000rs</label>
                    </div>
                    <div>
                        <input type="radio" name="price"> <label>2000rs</label>
                    </div>
                </div>
            </div>

            <div class="card mt-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Color</h5>
                    <span class="color-paltet bg-primary"></span>

                    <span class="color-paltet bg-success"></span>

                    <span class="color-paltet bg-danger"></span>

                    <span class="color-paltet bg-warning"></span>

                    <span class="color-paltet bg-info"></span>
                </div>
            </div>

        </div>
        <div class="col-9 mt-3" style="border-left: 1px solid black">
            <div class="card-group">
                <div class="card">
                    <img src="~/Images/1.jpg" class="card-img-top shadow" height="200" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kitchen Tools</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Images/2.jpg" class="card-img-top shadow" height="200" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kid's Wear</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Images/3.jpg" class="card-img-top shadow" height="200" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">TShirt</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>

            <div class="card-group pt-3">
                <div class="card">
                    <img src="~/Images/15.jpg" class="card-img-top shadow" height="200" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kitchen Tools</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Images/5.jpg" class="card-img-top shadow" height="200" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Women's Wear</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="~/Images/4.jpg" class="card-img-top shadow" height="200" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">TShirt</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col text-center text-secondary">
            <footer>Copyright Onlineshoppy.com</footer>
        </div>
    </div>
</div>
