.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev-icon {
    background-color: black;
}

.carousel-inner {
    width: 70%;
    margin-left: 15%;
    height: 100%;
    position: absolute;
}

.carousel {
    height: 300px;
}

.carousel-item {
    height: 100%;
}

.data-container {
    border: 1px solid black;
    margin: 5px;
    overflow: auto;
    height: 504px;
}

.color-paltet {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
}
